<?xml version="1.0"?>
<config>
    <modules>
        <Ikom_CodiceFiscale>
            <version>1.0.0</version>
        </Ikom_CodiceFiscale>
    </modules>
	<frontend>
		<layout>
			<updates>
				<codicefiscale>
					<file>ikom_codicefiscale.xml</file>
				</codicefiscale>
			</updates>
		</layout>
		<translate>
            <modules>
                <codicefiscale>
                    <files>
                        <default>ikom_codicefiscale.csv</default>
                    </files>
                </codicefiscale>
            </modules>
        </translate>
	</frontend>
</config>