<?xml version="1.0"?>
<config>
    <modules>
        <Ikom_CodiceFiscale>
            <version>1.0.0</version>
        </Ikom_CodiceFiscale>
    </modules>	
	<frontend>
		<layout>
			<updates>
				<codicefiscale>
					<file>ikom_codicefiscale.xml</file>
				</codicefiscale>
			</updates>
		</layout>
		<translate>
            <modules>
                <Mage_Checkout>
                    <files>
                        <additional>ikom_codicefiscale.csv</additional>
                    </files>
                </Mage_Checkout>
            </modules>
        </translate>
	</frontend>
</config>

